<div #animationElement class="page">
    <!-- Borders -->
    <div id="left"></div>
    <div id="right"></div>
    <div id="top"></div>
    <div id="bottom"></div>

    <!-- Top elements -->
    <div  class="top_items">
        <div class='eye left'><span class="eye-iris"></span></div>
        <img id="arrow" src="{{top_items[0]}}" height="100">
        <div class='eye right'><span class="eye-iris"></span></div>
        <br>
        <div>
            <img class="brick0" style="margin-top: -7%; position: absolute;" src="{{top_items[1]}}" height="100">
            <img class="brick1" style="margin-top: -7%; position: absolute;" src="{{top_items[1]}}" height="100">
            <img class="brick2" style="margin-top: -7%; position: absolute;" src="{{top_items[1]}}" height="100">
            <img class="brick3" style="margin-top: -7%; position: absolute;" src="{{top_items[1]}}" height="100">
            <img class="brick4" style="margin-top: -7%; position: absolute;" src="{{top_items[1]}}" height="100">
            <img class="brick5" style="margin-top: -7%; position: absolute;" src="{{top_items[1]}}" height="100">
            <img class="brick6" style="margin-top: -7%; position: absolute;" src="{{top_items[1]}}" height="100">
            <img class="brick7" style="margin-top: -7%; position: absolute;" src="{{top_items[1]}}" height="100">
            <img class="brick8" style="margin-top: -7%; position: absolute;" src="{{top_items[1]}}" height="100">
            <img class="brick9" style="margin-top: -7%; position: absolute;" src="{{top_items[1]}}" height="100">
                        
        </div>
        <!-- <img class="central_click" src="../../assets/game3/reload.png" height="300" > -->
        <br>

    
    </div>
</div>
