#bottom{
    background: brown;
    position: fixed;
}    
#top, #left, #right {
	background:purple;
	position: fixed;
	}
#left, #right {
    top: 0; bottom: 0;
    width: 15px;
    }
#left { left: 0; }
#right { right: 0; }
    
#top, #bottom {
    left: 0; right: 0;
    height: 15px;
    }
#top { top: 0; }
#bottom { bottom: 0;}

.page{
    position: fixed;
    
    display: flex-start;
    align-items: center;
    justify-content: center;
    
    background-image: url("../../assets/game3/bg2.jpg");    
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
    .top_items{
        position: relative;
        margin-left: 50%;
    }
    .central_click{
        position:absolute; 
        justify-content: center;
        margin-left: -10%;
    }
}

.eye {
    position: relative;
    margin-left: -20px;
    display: inline-block;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    background: white;
  }

  
.eye.right {
    margin-left: -5px;
  }
  
  .eye-iris {
    position: absolute;
    bottom: 12px;
    right: 8px;
    width: 8px;
    height: 8px;
    background: black;
    border-radius: 50%;
  }
  

