#bottom{
    background: brown;
    position: fixed;
}    
#top, #left, #right {
	background:purple;
	position: fixed;
	}
#left, #right {
    top: 0; bottom: 0;
    width: 15px;
    img{
        height:30%;
        position: fixed;
        margin-top: 25%;
    }
    .dl_arrow, .dr_arrow{
        position: fixed;
        margin-top: 35%;
        height: 15%;
        
    }
    .r_arrow {
        margin-left: -15%;
    }
    .dl_arrow{
        margin-left: 5%;
    }
    .dr_arrow{
        margin-left: -10%;   
    }

    // on hover
    .dl_arrow:hover{
        opacity: 70%;
        }
    .dr_arrow:hover{
        opacity: 70%;
        }
    .l_arrow:hover{
        opacity: 70%;
        }
    .r_arrow:hover{
        opacity: 70%;
        }


    // on click
    .dl_arrow:active{
        transform: translateY(4px);
        }   
    .dr_arrow:active{
        transform: translateY(4px);
        }   
    .l_arrow:active{
        transform: translateY(4px);
        }   
    .r_arrow:active{
        transform: translateY(4px);
        }               
    }
#left { left: 0; }
#right { right: 0; }
    
#top, #bottom {
    left: 0; right: 0;
    height: 15px;
    }
#top { top: 0; }
#bottom { bottom: 0;}

.page{
    position: fixed;
    
    display: flex-start;
    align-items: center;
    justify-content: center;
    
    background-image: url("../../assets/game3/bg2.jpg");    
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
    .top_items{
        position: relative;
        margin-left: 50%;
    }
    .center_part{
        position: fixed; 
        top: 50%; 
        left: 45%;
        text-align: center;
        .restart{
            position: fixed; 
            height: 20%;
            left: 47%;
        }
        .next_level_icon{
            position: fixed; 
            height: 10%;
            opacity: 80%;
            left: 47%;
        }
        .next_level_button{
            position: fixed; 
            height: 10%;
            width: 11%;
            left: 50%;
            padding-left: 3%;
        }
        .next_level_button:hover{
            opacity: 70%;
        }
        .next_level_button:active{
            transform: translateY(4px);
            }               
        
        .restart:hover{
            opacity: 70%;
        }
    }
}

.highScore{
    color: darkorange;
    position: fixed;
    right:10%;
    top:5%
}
.score{
    color: darkgoldenrod;
    position: fixed;
    left:10%;
    top:5%
}


.eye {
    position: relative;
    margin-left: -20px;
    display: inline-block;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    background: white;
  }

  
.eye.right {
    margin-left: -5px;
  }
  
  .eye-iris {
    position: absolute;
    bottom: 12px;
    right: 8px;
    width: 8px;
    height: 8px;
    background: black;
    border-radius: 50%;
  }
  
.gif_parts{
    position: absolute;
    left:15%;
    opacity: 70%;
    .congrats{
        // height: 20%;
        // position: fixed;
        // top: 15%;
        position: relative;
        left: 100px;
        top: 100px;
    }
}

