<div class="col-sm"> <a href="/app-homepage">
  <button mdbBtn type="button" color="primary" [outline]=true mdbWavesEffect>
   
          < Back </button></a>
</div>
<h3 style="text-align: center;">Today's progress</h3>
<div id="chart">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [dataLabels]="chartOptions.dataLabels"
      [plotOptions]="chartOptions.plotOptions"
      [yaxis]="chartOptions.yaxis"
      [legend]="chartOptions.legend"
      [fill]="chartOptions.fill"
      [stroke]="chartOptions.stroke"
      [tooltip]="chartOptions.tooltip"
      [xaxis]="chartOptions.xaxis"
    ></apx-chart>
  </div>
  