<div class="container">
    <div class="row my-2">
        <div class="col-lg-8 order-lg-2">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a data-target="#profile" data-toggle="tab" class="nav-link active">Profile</a>
                </li>
                <!-- <li class="nav-item">
                    <a href="" data-target="#messages" data-toggle="tab" class="nav-link">Messages</a>
                </li>
                <li class="nav-item">
                    <a href="" data-target="#edit" data-toggle="tab" class="nav-link">Edit</a>
                </li> -->
            </ul>
            
            <svg id="rocket-smoke" alt="Rocket Ship Smoke" xmlns="http://www.w3.org/2000/svg" width="516.119" height="1083.632" viewBox="0 0 516.119 1083.632">
                <path id="Path_40" data-name="Path 40" d="M644.6,141S143.02,215.537,147.049,870.207s342.774,201.755,342.774,201.755S404.659,847.213,388.815,762.2c-27.116-145.51-11.551-384.124,271.9-609.1C671.15,139.365,644.6,141,644.6,141Z" transform="translate(-147.025 -140.939)" fill="#f5f5f5"/>
              </svg>
              
            <div class="tab-content py-4">
                <div class="tab-pane active" id="profile">
                    <h5 class="mb-3">User Profile</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <h6>About</h6>
                            <strong>Username</strong>: Guest2301
                            <h6>Account: Free Version</h6>
                            <button>Upgrade version</button>
                        </div>
                        <div class="col-md-6">
                            <h6>Recent badges</h6>
                            <a style="color: cornsilk;" class="badge badge-dark badge-pill">Badge 1</a>
                            <a style="color: cornsilk;" class="badge badge-dark badge-pill">Badge 2</a>
                            <a style="color: cornsilk;" class="badge badge-dark badge-pill">Badge 3</a>
                            <a style="color: cornsilk;" class="badge badge-dark badge-pill">Badge 4</a>
                            <a style="color: cornsilk;" class="badge badge-dark badge-pill">Badge 5</a>
                            <hr>
                        </div>
                        <div class="col-md-12">
                            <h5 class="mt-2"><span class="fa fa-clock-o ion-clock float-right"></span> Recent Activity</h5>
                            <table class="table table-sm table-hover table-striped">
                                <tbody>                                    
                                    <tr>
                                        <td>
                                            <strong>Game 1</strong> duration : 30 min
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Game 3</strong> duration : 20 min
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Game 2</strong> duration : 50 min
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Game 2</strong> duration : 10 min
                                        </td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--/row-->
                </div>
                
            </div>
        </div>
        
        <div class="col-lg-4 order-lg-1 text-center">
            <img src="//placehold.it/150" class="mx-auto img-fluid img-circle d-block" alt="avatar">
            <h6 class="mt-2">Upload a different photo</h6>
            <label class="custom-file">
                <input type="file" id="file" class="custom-file-input">
                <span class="custom-file-control">Choose file</span>
            </label>
        </div>
    </div>
</div>