<div id="game">
<div><br /><br />
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <button mdbBtn type="button" color="primary" [outline]=true mdbWavesEffect><a href="/app-homepage">
                        < Back</a></button>
            </div>
            <div class="col-sm">
                <h3 class="help">
                    🎈Type the letter you see in the balloon.
                    <div id="score"><b>Score:{{score}}/100</b></div>
                </h3>
            </div>
            <div class="col-sm">
                <button mdbBtn type="button" (click)="openHelp()" color="primary" [outline]=true mdbWavesEffect>HELP</button>
            </div>
            
            
            <div style="display:none;text-align:center;" class="modal" id="myModal" >

                <!-- Modal content -->
                <div class="modal-content">
                  <span (click)="closeModal()"  class="close">&times;</span>
                  <p><img src="../../assets/game2/help.gif" /></p>
                </div>
              
              </div>

            <div class="col-sm" style="align-content: right;">
                <button mdbBtn type="button" color="default" [outline]=true mdbWavesEffect><a
                        onClick="window.location.reload()" routerLink="app-homepage">Reset</a></button>
            </div>
        </div>
    </div>
</div>

<div><br /><br />
    <div class="container">
        <div class="row">
            <div class="col-sm">

                <div [id]="position1"><img src={{A}} [position]='position1' />
                </div>

            </div>
            <div class="col-sm" style="flex-grow: inherit;">
                <div [id]="position2"><img src={{B}} [position]='position2' /></div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md"></div>
        <div class="col-sm"><input #typeInput (keyup)="onKey($event)" class="inputtype" placeholder="Type on me..">
        </div>
        <div class="col-sm"></div>
    </div>
    <h2 id="wrong" style="z-index:1;color:red;display:none;text-align:center;"><b>WRONG!</b></h2>
    <h2 id="again" style="z-index:1;color:red;display:none;text-align:center;"><b>TRY AGAIN!</b></h2>
    <h2 id="typemore" style="z-index:1;color:green;display:none;text-align:center;"><b>KEEP TYPING!</b></h2>
    <h2 id="win" style="z-index:1;color:green;display:none;text-align:center;"><b>You Win!</b></h2>
</div>


<div><br /><br />
    <div class="container">
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm">
                <div [id]="position3"><img src={{N}} [position]='position3' /></div>
            </div>
            <div class="col-sm"></div>
            <div class="col-sm">
                <div [id]="position4"><img src={{K}} [position]='position4' /></div>
            </div>
            <div class="col-sm"></div>
            <div class="col-sm">
                <div [id]="position4"><img src={{S}} [position]='position4' /></div>
            </div>
        </div>
    </div>
</div>
<div><br/><br/></div>
</div>