.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  display: flex;
  justify-content: center;
  align-self: center;
}

.list-container {
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2em;

}

.column-container {
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
  background-color: RGBA(255, 255, 255, 0.05);
}


mat-card {
  margin: 1em;
  cursor: pointer;
}

.list {
  border: RGBA(46, 49, 49, .7) solid 1px;
  border-radius: 2px;
}

.list-item {
  margin: 10px;
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

a {
  text-decoration: none;
  color: dodgerblue;
}

app-root {
    display: flex;
}

.items-container {
    display: flex;
//     border: 3px dashed #000;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
}

.dropzone-container {
    display: flex;
//     border: 3px dashed #000;
    width: 100%;
    justify-content: space-between;
//     left: 100px;top: 150px;
//     padding: 150px;
}

  .svg-triangle polygon {
    fill:#98d02e;
    stroke:#65b81d;
    stroke-width:2;
  }

  .static {
    cursor: not-allowed;
  }
  .draggable {
    cursor: move;
  }

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
  margin-left: 20px;
  margin-top: 20px;
}

.next {
  background-color: #4CAF50;
  color: white;
}


hr{
 width: 100%;
 height: 3px;
 margin-left: auto;
 margin-right: auto;
 background-color: black;
}


.cssmarquee {
height: 50px;
overflow: hidden;
position: relative;
}
.cssmarquee h1 {
font-size: 2em;
color: #808080	;
position: absolute;
width: 100%;
height: 100%;
margin: 0;
line-height: 50px;
text-align: center;
transform:translateX(100%);
animation: cssmarquee 17s linear infinite;
}
@keyframes cssmarquee {
0% {
transform: translateX(100%);
}
100% {
transform: translateX(-100%);
}
}

.inner
{
    display: inline-block;
}

table{
overflow: auto;
width:100%;
}

.score-div{

}

.drag-location{
  height: 5px;
  background-color: #4d4dff
}
