<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<div class="inner">
    <a href="#" class="previous">< Back</a>
    <button style="position: absolute;right: 20px;top: 20px;" type="button" class="btn btn-primary" onClick="window.location.reload();">Reset</button>
</div>

<h1 style="text-align:center">{{title}}</h1>
<div class="cssmarquee">
  <h1>Drag the shapes on the bottom to match them to the shapes on top </h1>
</div>

<br>



<div class="score-div">
  <div id="score" style="float:right;"><h1><b>Score:0/100</b></h1></div>
  <div id="wrong" style="display:none; "><b><h2 style="color:red;text-align:center;">WRONG!</h2></b></div>
</div>




<div class="items-container" appDroppable>
  <div appDraggable>
    <svg height="100" width="100">
      <polygon id="hexagon1" type="hexagon" draggable="false"  points="50 3,100 28,100 75, 50 100,3 75,3 25" stroke="black" fill="blue"/>
    </svg>
  </div>
  <div appDraggable>
    <svg height="100" width="100">
      <rect id="rectangle1" type="rectangle" draggable="false" width="100" height="100" stroke="black" fill="#ADD8E6" />
    </svg>
  </div>
  <div appDraggable>
    <svg height="100" width="100">
      <polygon id="triangle1" type="triangle" draggable="false" points="50,0 100,100 0,100" stroke="black" fill="red"/>
    </svg>
  </div>
  <div appDraggable>
    <svg height="100" width="100">
      <circle id="circle1" type="circle" draggable="false" cx="50" cy="50" r="40" stroke="black" fill="green" />
    </svg>
  </div>
  <div appDraggable>
    <svg height="100" width="100">
      <rect id="square1" type="square" draggable="false" width="100" height="100" stroke="black" fill="black" />
    </svg>
  </div>
</div>


<br><br>
<hr>

<div class="dropzone-container" style="width: 1300px; height: 500px" appDroppable>
  <svg height="100" width="100" cdkDrag>
    <circle id="circle2" type="circle" draggable="true" cx="50" cy="50" r="40" stroke="black" fill="green"/>
  </svg>

  <svg height="100" width="100" cdkDrag>
    <rect id="square2" type="square" draggable="true" width="100" height="100" stroke="black" fill="black" />
  </svg>
  <svg height="100" width="100" cdkDrag>
    <polygon id="triangle2" type="triangle" draggable="true"  points="50,0 100,100 0,100" stroke="black" fill="red"/>
  </svg>
  <svg height="100" width="100" cdkDrag>
    <rect id="rectangle2" type="rectangle" draggable="true"  width="100" height="100" stroke="black" fill="#ADD8E6" />
  </svg>
  <svg height="100" width="100" cdkDrag>
    <polygon id="hexagon2" type="hexagon" draggable="true"   points="50 3,100 28,100 75, 50 100,3 75,3 25" stroke="black" fill="blue"/>
  </svg>
</div>
