<div>
<h1 style="text-align:center">{{title}}</h1>
</div>
<div class="items-container" appDroppable>
  <div appDraggable>
    <svg height="100" width="100">
      <polygon id="hexagon1" type="hexagon" draggable="false"  points="50 3,100 28,100 75, 50 100,3 75,3 25" stroke="black" fill="blue"/>
    </svg>
  </div>
  <div appDraggable>
    <svg height="100" width="100">
      <rect id="rectangle1" type="rectangle" draggable="false" width="100" height="100" stroke="black" fill="#ADD8E6" />
    </svg>
  </div>
  <div appDraggable>
    <svg height="100" width="100">
      <polygon id="triangle1" type="triangle" draggable="false" points="50,0 100,100 0,100" stroke="black" fill="red"/>
    </svg>
  </div>
  <div appDraggable>
    <svg height="100" width="100">
      <circle id="circle1" type="circle" draggable="false" cx="50" cy="50" r="40" stroke="black" fill="green" />
    </svg>
  </div>
  <div appDraggable>
    <svg height="100" width="100">
      <rect id="square1" type="square" draggable="false" width="100" height="100" stroke="black" fill="black" />
    </svg>
  </div>
</div>


<br><br>
<div class="dropzone-container">
<!--  <svg id="dropzone" style="display: inline; width: inherit; min-width: inherit; max-width: inherit; height: inherit; min-height: inherit; max-height: inherit;" version="1.1">-->
<!--    <circle id="circle-red" cx="50" cy="50" r="40" stroke="black" fill="green" />-->
<!--  </svg>-->
  <svg id="dropzone" cdkDrag>
    <circle id="circle" cx="50" cy="50" r="40" stroke="black" fill="green" />
  </svg>

  <svg height="100" width="100" cdkDrag>
    <rect id="square" width="100" height="100" stroke="black" fill="black" />
  </svg>
  <svg height="100" width="100" cdkDrag>
    <polygon id="triangle"  points="50,0 100,100 0,100" stroke="black" fill="red"/>
  </svg>
  <svg height="100" width="100" cdkDrag>
    <rect id="rectangle" width="100" height="100" stroke="black" fill="#ADD8E6" />
  </svg>
  <svg height="100" width="100" cdkDrag>
    <polygon id="hexagon"  points="50 3,100 28,100 75, 50 100,3 75,3 25" stroke="black" fill="blue"/>
  </svg>
</div>



<!--<div class="container">-->
<!--  <h1>{{title}}</h1>-->
<!--  <h2>Movies</h2>-->
<!--  <div-->
<!--    cdkDropList-->
<!--    #moviesList="cdkDropList"-->
<!--    [cdkDropListData]="MoviesList"-->
<!--    [cdkDropListConnectedTo]="[doneMovieList]"-->
<!--    class="movie-list"-->
<!--    (cdkDropListDropped)="onDrop($event)">-->
<!--    <div cdkDrag style="width:500px;height:100px;border:1px solid #000;background-color:grey;"></div>-->
<!--    <div cdkDrag style="width:500px;height:100px;border:1px solid #000;background-color:blue;"></div>-->
<!--    <div class="movie-block" *ngFor="let moviesList of MoviesList" cdkDrag>{{moviesList}}</div>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="container">-->
<!--  <h2>Movies Watched</h2>-->
<!--  <div-->
<!--    cdkDropList-->
<!--    #doneMovieList="cdkDropList"-->
<!--    [cdkDropListData]="MoviesWatched"-->
<!--    [cdkDropListConnectedTo]="[moviesList]"-->
<!--    class="movie-list"-->
<!--    (cdkDropListDropped)="onDrop($event)">-->
<!--    <div cdkDrag style="width:500px;height:100px;border:1px solid #000;background-color:green;"></div>-->
<!--    <div cdkDrag style="width:500px;height:100px;border:1px solid #000;background-color:red;"></div>-->
<!--    <div class="movie-block" *ngFor="let moviesWatched of MoviesWatched" cdkDrag>{{moviesWatched}}</div>-->
<!--  </div>-->
<!--</div>-->
