<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<div class="inner">
  <a href="/app-homepage"><button mdbBtn type="button" color="primary" [outline]=true mdbWavesEffect>
    < Back</button></a>
    <button mdbBtn style="position: absolute;right: 20px;top: 20px;" type="button" class="btn btn-primary" onClick="window.location.reload();">Reset</button>

      <button mdbBtn type="button" (click)="openHelp()" color="primary" [outline]=true mdbWavesEffect>HELP</button>
      <h3 style="text-align:center">Level: {{this.lvl}}</h3>
  </div>




  <div style="display:none;text-align:center;" class="modal" id="myModal" >

    <!-- Modal content -->
    <div class="modal-content">
      <span (click)="closeModal()"  class="close">&times;</span>
      <p><img src="../../assets/game1/help.gif" /></p>
    </div>

  </div>
<br>
<h1 style="text-align:center">{{title}}</h1>

<div class="cssmarquee">
  <h1>Drag the shapes on the bottom to match them to the shapes on top </h1>
</div>

<div class="score-div">
  <div id="score" style="float:right;"><h1><b>Score:0/100</b></h1></div>
  <div id="wrong" style="display:none;text-align:center;"><h2 style="color:red;"><b>WRONG!</b></h2></div>
  <div id="win" style="display:none;text-align:center;"><h2 style="color:green;"><b>You Win!<img class="congrats" src="../../assets/game1/congrats.gif" alt="?"></b></h2></div>
</div>


<br>
<br>

<div id="items-container-easy" class="items-container" appDroppable>
  <div appDraggable>
    <svg height="100" width="200">
      <rect id="easy-rectangle1" type="rectangle" draggable="false" width="200" height="100" stroke="black" fill="#ADD8E6" />
    </svg>
  </div>
  <div appDraggable>
    <svg height="100" width="100">
      <polygon id="easy-triangle1" type="triangle" draggable="false" points="50,0 100,100 0,100" stroke="black" fill="red"/>
    </svg>
  </div>
  <div appDraggable>
    <svg height="100" width="100">
      <rect id="easy-square1" type="square" draggable="false" width="100" height="100" stroke="black" fill="black" />
    </svg>
  </div>
  <div appDraggable>
    <svg height="100" width="200">
      <rect id="easy-rectangle11" type="rectangle" draggable="false" width="200" height="100" stroke="black" fill="#ADD8E6" />
    </svg>
  </div>
  <div appDraggable>
    <svg height="100" width="100">
      <rect id="easy-square12" type="square" draggable="false" width="100" height="100" stroke="black" fill="black" />
    </svg>
  </div>
</div>

<div id="items-container-medium" class="items-container" appDroppable>
  <div appDraggable>
    <svg height="100" width="100">
      <polygon id="medium-hexagon1" type="hexagon" draggable="false"  points="50 3,100 28,100 75, 50 100,3 75,3 25" stroke="black" fill="blue"/>
    </svg>
  </div>
  <div appDraggable>
    <svg height="100" width="200">
      <rect id="medium-rectangle1" type="rectangle" draggable="false" width="200" height="100" stroke="black" fill="#ADD8E6" />
    </svg>
  </div>
  <div appDraggable>
    <svg height="100" width="100">
      <polygon id="medium-triangle1" type="triangle" draggable="false" points="50,0 100,100 0,100" stroke="black" fill="red"/>
    </svg>
  </div>
  <div appDraggable>
    <svg height="100" width="100">
      <circle id="medium-circle1" type="circle" draggable="false" cx="50" cy="50" r="40" stroke="black" fill="green" />
    </svg>
  </div>
  <div appDraggable>
    <svg height="100" width="100">
      <rect id="medium-square1" type="square" draggable="false" width="100" height="100" stroke="black" fill="black" />
    </svg>
  </div>
</div>

<div id="items-container-hard" class="items-container" appDroppable>
  <div appDraggable>
    <svg height="100" width="100">
      <polygon id="hard-hexagon1-blue" type="hexagon-blue" draggable="false"  points="50 3,100 28,100 75, 50 100,3 75,3 25" stroke="black" fill="blue"/>
    </svg>
  </div>
  <div appDraggable>
    <svg height="100" width="200">
      <rect id="hard-rectangle1-light-blue" type="rectangle-light-blue" draggable="false" width="200" height="100" stroke="black" fill="#ADD8E6" />
    </svg>
  </div>
  <div appDraggable>
    <svg height="100" width="100">
      <polygon id="hard-triangle1-red" type="triangle-red" draggable="false" points="50,0 100,100 0,100" stroke="black" fill="red"/>
    </svg>
  </div>
  <div appDraggable>
    <svg height="100" width="100">
      <circle id="hard-circle1-green" type="circle-green" draggable="false" cx="50" cy="50" r="40" stroke="black" fill="green" />
    </svg>
  </div>
  <div appDraggable>
    <svg height="100" width="100">
      <polygon id="hard-star1-golden" type="star-golden" draggable="false" points="50,5 20,90 95,30 5,30 80,90" stroke="black" fill="#FFD700" />
    </svg>
  </div>
  <div appDraggable>
    <svg height="100" width="100">
      <polygon id="hard-hexagon1-red" type="hexagon-red" draggable="false"  points="50 3,100 28,100 75, 50 100,3 75,3 25" stroke="black" fill="red"/>
    </svg>
  </div>
  <div appDraggable>
    <svg height="100" width="200">
      <rect id="hard-rectangle1-green" type="rectangle-green" draggable="false" width="200" height="100" stroke="black" fill="green" />
    </svg>
  </div>
  <div appDraggable>
    <svg height="100" width="100">
      <polygon id="hard-triangle1-light-blue" type="triangle-light-blue" draggable="false" points="50,0 100,100 0,100" stroke="black" fill="#ADD8E6"/>
    </svg>
  </div>
  <div appDraggable>
    <svg height="100" width="100">
      <circle id="hard-circle1-black" type="circle-black" draggable="false" cx="50" cy="50" r="40" stroke="black" fill="black" />
    </svg>
  </div>
  <div appDraggable>
    <svg height="100" width="100">
      <rect id="hard-square1-blue" type="square-blue" draggable="false" width="100" height="100" stroke="black" fill="blue" />
    </svg>
  </div>
</div>


<br><br>
<hr>

<div id="dropzone-container-easy" class="dropzone-container" style="width: 1300px; height: 500px" appDroppable>
  <svg height="100" width="100" cdkDrag>
    <rect id="easy-square2" type="square" draggable="true" width="100" height="100" stroke="black" fill="black" />
  </svg>
  <svg height="100" width="100" cdkDrag>
    <polygon id="easy-triangle2" type="triangle" draggable="true"  points="50,0 100,100 0,100" stroke="black" fill="red"/>
  </svg>
  <svg height="100" width="200" cdkDrag>
    <rect id="easy-rectangle2" type="rectangle" draggable="true"  width="200" height="100" stroke="black" fill="#ADD8E6" />
  </svg>
  <svg height="100" width="100" cdkDrag>
    <rect id="easy-square22" type="square" draggable="true" width="100" height="100" stroke="black" fill="black" />
  </svg>
  <svg height="100" width="200" cdkDrag>
    <rect id="easy-rectangle22" type="rectangle" draggable="true"  width="200" height="100" stroke="black" fill="#ADD8E6" />
  </svg>
</div>

<div id="dropzone-container-medium" class="dropzone-container" style="width: 1300px; height: 500px" appDroppable>
  <svg height="100" width="100" cdkDrag>
    <circle id="medium-circle2" type="circle" draggable="true" cx="50" cy="50" r="40" stroke="black" fill="green"/>
  </svg>
  <svg height="100" width="100" cdkDrag>
    <rect id="medium-square2" type="square" draggable="true" width="100" height="100" stroke="black" fill="black" />
  </svg>
  <svg height="100" width="100" cdkDrag>
    <polygon id="medium-triangle2" type="triangle" draggable="true"  points="50,0 100,100 0,100" stroke="black" fill="red"/>
  </svg>
  <svg height="100" width="200" cdkDrag>
    <rect id="medium-rectangle2" type="rectangle" draggable="true"  width="200" height="100" stroke="black" fill="#ADD8E6" />
  </svg>
  <svg height="100" width="100" cdkDrag>
    <polygon id="medium-hexagon2" type="hexagon" draggable="true"   points="50 3,100 28,100 75, 50 100,3 75,3 25" stroke="black" fill="blue"/>
  </svg>
</div>

<div id="dropzone-container-hard" class="dropzone-container" style="width: 1300px; height: 500px" appDroppable>
  <svg height="100" width="100" cdkDrag>
    <polygon id="hard-triangle2-light-blue" type="triangle-light-blue" draggable="false" points="50,0 100,100 0,100" stroke="black" fill="#ADD8E6"/>
  </svg>
  <svg height="100" width="100" cdkDrag>
    <polygon id="hard-hexagon2-red" type="hexagon-red" draggable="false"  points="50 3,100 28,100 75, 50 100,3 75,3 25" stroke="black" fill="red"/>
  </svg>
  <svg height="100" width="100" cdkDrag>
    <polygon id="hard-star2-golden" type="star-golden" draggable="false" points="50,5 20,90 95,30 5,30 80,90" stroke="black" fill="#FFD700" />
  </svg>
  <svg height="100" width="100" cdkDrag>
    <rect id="hard-square2-blue" type="square-blue" draggable="false" width="100" height="100" stroke="black" fill="blue" />
  </svg>
  <svg height="100" width="200" cdkDrag>
    <rect id="hard-rectangle2-green" type="rectangle-green" draggable="false" width="200" height="100" stroke="black" fill="green" />
  </svg>
  <svg height="100" width="100" cdkDrag>
    <circle id="hard-circle2-black" type="circle-black" draggable="false" cx="50" cy="50" r="40" stroke="black" fill="black" />
  </svg>

  <svg height="100" width="100" cdkDrag>
    <circle id="hard-circle2-green" type="circle-green" draggable="true" cx="50" cy="50" r="40" stroke="black" fill="green"/>
  </svg>
  <svg height="100" width="100" cdkDrag>
    <polygon id="hard-triangle2-red" type="triangle-red" draggable="true"  points="50,0 100,100 0,100" stroke="black" fill="red"/>
  </svg>
  <svg height="100" width="200" cdkDrag>
    <rect id="hard-rectangle2-light-blue" type="rectangle-light-blue" draggable="true"  width="200" height="100" stroke="black" fill="#ADD8E6" />
  </svg>
  <svg height="100" width="100" cdkDrag>
    <polygon id="hard-hexagon2-blue" type="hexagon-blue" draggable="true"   points="50 3,100 28,100 75, 50 100,3 75,3 25" stroke="black" fill="blue"/>
  </svg>

</div>
